@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/conteudos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");
@import url("styles/books.css");

*{
    scroll-behavior: smooth;
}

:root{
    --cor-fundo:#EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul: #002F52;
    --degrade: linear-gradient(97.54deg, #fb7c43 35.49%, #c95232 165.37%);
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;

}

.cabecalho__home{
    text-decoration: none;
    color: black;
}