.banner{
    background: var(--degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5rem 1rem;
}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
}

.banner__texto{
    font-weight: 500;
    margin: 1.6rem 1rem;
}

.banner__pesquisa{
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 30px;
    padding: 1rem;
    width: 100%;
}

.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align:center;
    color: var(--branco);
    background: url(../assets/pesquisa.svg) no-repeat;
    background-position: 1rem;
}

@media screen and (min-width: 1024px) {
    .banner__titulo{
        font-size: 36px;
    }

    .banner__pesquisa{
        width: 50%;
    }

    .banner__pesquisa::placeholder{
        background-position: 5.5rem;
    }
}

@media screen and (min-width: 1366px) {
    .banner__pesquisa{
        width: 40%;
    }

    .banner__pesquisa::placeholder{
        background-position: 7rem;
    }

    .banner{
        padding: 4rem 0;
    }
}